.DaymoirApp {
  text-align: center;
}

.DaymoirApp-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .DaymoirApp-logo {
    animation: DaymoirApp-logo-spin infinite 20s linear;
  }
}

.DaymoirApp-header {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.DaymoirApp-appBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.DaymoirApp-link {
  align-items: center;
  justify-content: space-between;
}

.DaymoirApp-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
  /* max-width: 50vh; */
}

@keyframes DaymoirApp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
